include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.align-item-center
            .col-3 
                .inner-logo
                    a(href="/")
                        img(src="/images/logo1.png", alt="logo")

            .col-9 
                .inner-menu
                    ul 
                        li 
                            a(href="/") Home Page 
                    
                        l1(class="sub-menu")
                            - const pathProduct ="/products";
                            a(href=pathProduct) Product
                            +sub-menu(layoutProductsCategory,pathProduct)
                            //- ul 
                            //-     li 
                            //-         a(href="/products/slug-1") Product 1 
                            //-         ul
                            //-             li 
                            //-                 a(href="/products/slug-1-1") Product 1-1  
                            //-             li 
                            //-                 a(href="/products/slug-1-2") Product 1-2
                            //-                 ul 
                            //-                     li 
                            //-                         a(href="/products/slug-1-2-1") 1-2-1
                            //-                     li 
                            //-                         a(href="/products/slug-1-2-2")  1-2-2
                            //-     li 
                            //-         a(href="/products/slug-2") Product 2                  