header.header 
    .container 
        .row.align-item-center
            .col-3 
                .inner-logo
                    a(href="/")
                        img(src="/images/logo.svg", alt="logo")

            .col-9 
                .inner-menu
                    ul 
                        li 
                            a(href="/") Home Page 
                            a(href="/about") About Us 
                            a(href="/contact") Contact Us
                        l1 
                            a(href="/products") Product                            
                            