header.header 
    .container 
        .row.align-item-center
            .col-3 
                .inner-logo
                    a(href="/")
<<<<<<< HEAD
                        img(src="/images/logo1.png", alt="logo")
=======
                        img(src="/images/logo.svg", alt="logo")
>>>>>>> de05dfcf7a10d0795c5389a4388f7d91e08c9f92

            .col-9 
                .inner-menu
                    ul 
                        li 
                            a(href="/") Home Page 
                            a(href="/about") About Us 
                            a(href="/contact") Contact Us
                        l1 
                            a(href="/products") Product                            
                            