extends ../../layouts/default.pug

include ../../mixins/filter-status.pug
include ../../mixins/table-tree.pug

//- include ../../mixins/search.pug



block main

            
    h1 Category 

    .card.mb-3
        .card-header Filter and  Search
        .card-body 
            .row
                .col-5
                    +filter-status(filterStatus)

                //- .col-5
                //-     +search(keyword)
   
    .card.mb-3 
        .card-header List
            .card-body
                .row 
                    .col-8
                    .col-4
                        a(
                            href=`${prefixAdmin}/products-category/create`
                            class="btn btn-outline-success"
                        ) New Catalog


            table(
                class="table table-hover table-sm "
                checkbox-multi
            )
                thead
                    tr
                        th 
                            input(type="checkbox" name="checkall")
                        th Order 
                        th Image
                        th Title 
                        th Position
                        th Status
                        th Action

                tbody 
                    +table-tree(records)
    //- script(src="/admin/js/product.js") 



        //-  form(
        //-     action=""
        //-     method="POST"
        //-     id="form-change-status-category"
        //-     data-path=`${prefixAdmin}/products-category/change-status-category`
        //- )
        //- script(src="/admin/js/product.category.js"); 


//- _id       
//- title 
//- parent_id 
//- description 
//- thumbnail 
//- status 
//- position 
//- deleted 
//- deletedAt 
//- createdAt 
//- updatedAt 
//- slug