extends ../../layouts/default.pug

include ../../mixins/filter-status.pug
include ../../mixins/table-tree.pug
include ../../mixins/moment.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug

//- include ../../mixins/search.pug



block main

            
    h1 Category 

    +alert(5000)
                
    .container-fluid.py-4
        //- Header
        .d-flex.justify-content-between.align-items-center.mb-4
            h1.h3 Categories Management
            a(href=`${prefixAdmin}/products-category/create`).btn.btn-success
                i.fas.fa-plus 
                |  New Category
    .card.mb-3
        .card-header Filter and  Search
        .card-body 
            .row
                .col-5
                    +filter-status(filterStatus)

                //- .col-5
                //-     +search(keyword)


            table(
                class="table table-hover table-sm "
                checkbox-multi
            )
                thead
                    tr
                        th 
                            input(type="checkbox" name="checkall")
                        th Order 
                        th Image
                        th Title 
                        th Position
                        th Status
                        th CreatedBy
                        th Updated Recently
                        th Action

                tbody 
                    +table-tree(records)

    +pagination(pagination)
    //- script(src="/admin/js/product.js") 



        //-  form(
        //-     action=""
        //-     method="POST"
        //-     id="form-change-status-category"
        //-     data-path=`${prefixAdmin}/products-category/change-status-category`
        //- )
        //- script(src="/admin/js/product.category.js"); 


//- _id       
//- title 
//- parent_id 
//- description 
//- thumbnail 
//- status 
//- position 
//- deleted 
//- deletedAt 
//- createdAt 
//- updatedAt 
//- slug