extends ../../layouts/default.pug

include ../../mixins/filter-status.pug
include ../../mixins/table-tree.pug
include ../../mixins/moment.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug

//- include ../../mixins/search.pug



block main

        

    +alert(5000)
                
    //- Page Header  
    .row.align-items-center.mb-4  
        .col-md-6  
            h1.h3.text-primary Category Management  
        .col-md-6.text-right  
            a(href=`${prefixAdmin}/products-category/create`).btn.btn-success  
                i.fas.fa-plus.mr-2  
                | New Product 
    .card.mb-3
        .card-header Filter and  Search
        .card-body 
            .row
                .col-5
                    +filter-status(filterStatus)

                //- .col-5
                //-     +search(keyword)
    

    .card.shadow-sm.mb-4  
    .card-header.bg-light.d-flex.justify-content-between.align-items-center  
        h5.card-title.m-0 Category List  
        .d-flex.align-items-center  
            //- +formChangeMultiStatus(`${prefixAdmin}/products/change-multi?_method=PATCH`)  
            
    .card-body.p-0  
        .table-responsive  
            table.table.table-striped.table-hover.mb-0(checkbox-multi)  
                thead.thead-light  
                    tr   
                        th.text-center #  
                        th.text-center Image  
                        th Product Title  
                        th Price  
                        th Position  
                        th Status  
                        th Created By  
                        th Last Updated  
                        th.text-right Actions
                tbody 
                    +table-tree(records)

    +pagination(pagination)
    //- script(src="/admin/js/product.js") 



        //-  form(
        //-     action=""
        //-     method="POST"
        //-     id="form-change-status-category"
        //-     data-path=`${prefixAdmin}/products-category/change-status-category`
        //- )
        //- script(src="/admin/js/product.category.js"); 


//- _id       
//- title 
//- parent_id 
//- description 
//- thumbnail 
//- status 
//- position 
//- deleted 
//- deletedAt 
//- createdAt 
//- updatedAt 
//- slug