mixin sort()
   
        label(for="sortSelect") Sort By
        select#sortSelect.form-control(name="sort")
            option(value="position-asc") Ascending Position
            option(value="position-desc") Descending Position
            option(value="price-desc") Highest Price
            option(value="price-asc") Lowest Price
            option(value="title-desc") Z-A Title
            option(value="title-asc") A-Z Title

        button#sortClear.btn.btn-outline-danger.mt-2 Clear