extends ../../layout/chat.pug 

include ../../mixins/box-head.pug
block main 
    .container.my-3
        .row
            .col-12
                +box-head("Chat")
        .row 
            .col-12 
                .chat 
                    .inner-body 
                        each chat in chats
                            .inner-incoming 
                                .inner-name #{chat.infoUser.fullName}
                                .inner-content
                                    | #{chat.content}
                        //-     .inner-outgoing 
                        //-         .inner-name 
                        //-         .inner-content
                        //-             | Yes i'm crazy
                        //-     .inner-incoming 
                        //-         .inner-name Baby
                        //-         .inner-content
                        //-             | Are you fucking serious
                        //-     .inner-outgoing 
                        //-         .inner-name 
                        //-         .inner-content
                        //-             | Yes i'm crazy

                        //-     .inner-incoming 
                        //-         .inner-name Baby
                        //-         .inner-content
                        //-             | Are you fucking serious
                        //-     .inner-outgoing 
                        //-         .inner-name Baby
                        //-         .inner-content
                        //-             | Yes i'm crazy
                        //- .inner-foot 
                        //-     form(
                        //-         class="inner-form"
                        //-     )
                        //-         input(type="text" placeholder="Type your message..." class="inner-input"
                        //-             name="content"
                        //-         )
                        //-         button(type="submit" class="inner-btn")  
                        //-             i.fas.fa-paper-plane  
        